body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
}

/* Navbar START */
nav {
    background-color: #121d28;
}

.social-icons {
    color: #00C6B6 !important;
}

.card-image img {
    object-fit: cover;
    height: 200px;
}

.nav-items:hover {
    color: #00C6B6;
}

.btn-resume {
    border: 1.5px solid #00C6B6;
    border-radius: 5px;
    line-height: 36px;
    padding: 0 16px;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.0);
    -webkit-tap-highlight-color: transparent;
}

.active {
    color: #00C6B6;
}

/* Navbar END */

/* Sidenav END */
.sidenav {
    background-color: #121d28;
}

.sidenav li>a {
    color: #FFFFFF;
}

/* Sidenav END */

/* Home START */
.home {
    height: 100vh;
    width: 100%;
    background-color: #121d28;
}

.name {
    font-weight: 700;
    text-align: center;
    font-size: 65px;
    background: -webkit-linear-gradient(.90turn, #12febf, #299dff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divider {
    height: 1px;
    background-color: #FFFFFF;
    /* background-color: #1a2a3a; */
}

.statement {
    color: #FFFFFF;
    font-size: 25px;
}

.email {
    color: #FFFFFF;
    font-size: 25px;
}

.jumbotron {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Home END */

/* About START */
.about {
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    margin: auto;
}

.profile-img {
    height: auto;
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.about-desc {
    margin: auto;
    font-weight: 500;
    font-size: 18px;
}

.about-quote {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}

/* About START */

/* Experience START */
.experience {
    height: 100vh;
    width: 100%;
    background-color: #121d28;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection {
    border: none;
}

.collection .collection-item {
    background-color: #13334C;
    border-bottom: 10px solid #121d28;
    margin-bottom: 5px;
}

.collection .collection-item li {
    color: #D3DFEE;
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 18px;
}

.collection .collection-item.avatar {
    padding-left: 30px;
}

.job-title {
    color: #D3DFEE;
    font-weight: 700;
    font-size: 18px;
}

.date {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    color: #D3DFEE;
    letter-spacing: 0.5px;
}

.at {
    color: #00C6B6;
}

.company-name {
    color: #00C6B6;
}

.company-name:hover {
    text-decoration: underline;
}

/* Experience END */

/* Projects START */
.projects {
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .projects {
        height: auto;
    }
}

.fix-top-row {
    margin-top: 30px;
}

.fix-bottom-row {
    margin-top: 30px;
}

/* .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
} */

.card-image {
    width: 100%;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.card-desc {
    margin-left: 25px;
    margin-right: 25px;
}

.dsc-card {
    height: 150px;
    width: 150px;
}

.tminuszero-card {
    color: #0077FF;
    font-size: 100px;
}

.btn:hover {
    background-color: #00767A;
}

.btn {
    margin-top: 15px;
    margin-right: 10px;
}

.btn-flat {
    text-transform: none;
    color: #00767A;
    margin-top: 15px;
    margin-right: 10px;
}

.btn-view {
    background-color: #00767A;
}

.view-icon {
    margin-right: 5px;
    color: #00767A;
}

.disabled-view-icon {
    margin-right: 5px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    border-radius: 20px;
    transform: rotateY(180deg);
  }
/* Projects END */

/* Education START */
.education {
    height: 100vh;
    width: 100%;
    background-color: #121d28;
    display: flex;
    justify-content: center;
    align-items: center;
}

.csusm-logo {
    display: flex;
    justify-content: center;
}

.education-univ {
    font-size: 33px;
}

.education-desc {
    color: #FFFFFF;
}

/* Education END */

/* Footer START */
.footer-copyright {
    background-color: #0F1620;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.source {
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.source:hover {
    color: #00C6B6;
    transition: color 0.3s ease;
    cursor: pointer;
}

.github-stars {
    margin-right: 5px;
}

.star-count {
    margin-right: 15px;
}

.github-forks {
    margin-right: 5px;
}

.fork-count {
    margin-right: 15px;
}

/* Footer END */

/* Social Media START */
.icon-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-bar i {
    text-align: center;
    padding: 16px;
    color: #636F7C;
    font-size: 35px;
    transition: color 0.3s ease;
}

.icon-bar i:hover {
    color: #00C6B6;
    transition: color 0.3s ease;
}

/* Social Media END */